@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

html {
  background-color: #425bd7;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 300px;
}

h1 {
  font-family: 'Baloo Thambi';
  font-size: 72px;
  font-weight: 100;
  color: #fff;
}
